{% extends "base.html.tera" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
    
    {% for paragraph in paragraphs %}
    <p>{{ paragraph | safe }}</p>
    {% endfor %}
    
    <div class="links">
        <h2>Related Articles</h2>
        <ul>
            {% for link in links %}
            <li><a href="{{ link.1 }}" rel="nofollow noopener noreferrer">{{ link.0 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="footer">
        Total visitors to this collection: {{ visit_count }}
    </div>
{% endblock content %}
